<%= nested_form_for @prescription, :html => { :class => "form-horizontal prescription" } do |f| %>

    <% if @prescription.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@prescription.errors.count, "error") %> prohibited this prescription from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @prescription.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <%= error_span(@prescription[:title]) %>
  </div>
  <hr>
  <%= f.fields_for :items do |item_form| %>
    <div class="control-group">
      <%= item_form.label :name, class: 'control-label' %>
      <div class="controls">
        <%= item_form.text_field :name, class: 'form-control' %>
      </div>
      <%= item_form.label :instructions, class: 'control-label' %>
      <div class="controls">
        <%= item_form.text_area :instructions, class: 'form-control' %>
      </div>
      <%= item_form.link_to_remove 'Remove item' %>
    </div>
  <% end %>
  <p><%= f.link_to_add "Add item", :items %></p>

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            prescriptions_path, :class => 'btn btn-default' %>

<% end %>
